/*--------------
      RESET
--------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------
      TYPO
--------------*/

/*--------------
    COMMONS
--------------*/

main {
    height: 100vh;
    background-color: #d5dbda;
}

header {
    height: 15vh;
    background-color: #009688;
}

.main_container {
    margin: auto;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    max-width: 1180px;
    width: 100%;
    background-color: red;
    height: 95vh;
}