/*--------------
      RESET
--------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------
      TYPO
--------------*/
.avatar_span {
    font-size: 15px;
}

.user small {
    font-size: 12px;
    color: #6b7376;
}

input {
    width: 600px;
    padding: 10px;
    border: none;
}

.icon_foot {
    font-size: 20px;
    color: #6b7376;
}

/*--------------
    COMMONS
--------------*/

main {
    height: 100vh;
    background-color: #d5dbda;
}

header {
    height: 15vh;
    background-color: #009688;
}

.main_container {
    margin: auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    max-width: 1180px;
    width: 100%;
    background-color: red;
    height: 95vh;
}

.head {
    height: 7vh;
    background-color: green;
    width: 100%;
    display: flex;
}

.head_left {
    width: 35%;
    background-color: #eaeaea;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.head_right {
    width: 65%;
    background-color: #eaeaea;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.avatar_img {
    display: flex;
    align-items: center;
}

.avatar_img img {
    max-width: 50px;
    width: 100%;
    border-radius: 50%;
    padding: 5px;
    margin-left: 6px;
}

.icons_head {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-right: 15px;
    color: #b1b1b1;
}

.user {
    display: flex;
    flex-direction: column;
}

.col-left_main {
    width: 35%;
    background-color: blue;
    height: calc(100% - 7vh);
}

.col-right_main {
    width: 65%;
    background-image: url(../img/mine.jpg);
    height: calc(100% - 7vh);
    position: relative;
}

.foot {
    width: 100%;
    background-color: #f3eeea;
    height: 7vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 12;
    display: flex;
    justify-content: space-around;
    align-items: center;
}