<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- ########## GOOGLE FONT ############# -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- ########## FONTAWESOME ############# -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <main>
            <!-- ######### EXTERNAL BACKGROUND SECTION ########## -->
            <header></header>
            <div class="main_container">
                <!-- ######### HEADER WEB APP SECTION ########## -->
                <div class="head">
                    <div class="head_left">
                        <div class="avatar_img">
                            <img src="img/avatar_io.jpg" alt="mio avatar">
                            <span class="avatar_me">Sofia</span>
                        </div>
                        <div class="icons_head">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="head_right">
                        <div class="avatar_img">
                            <img :src="'img/avatar'+ contacts[indexPosition].avatar+ '.jpg'"
                                alt="contacts[indexPosition].name">
                            <div class="user">
                                <span class="avatar_span">{{ contacts[indexPosition].name }}</span>
                                <small>Ultimo accesso oggi alle 12:00</small>
                            </div>
                        </div>
                        <div class="icons_head">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <!-- ######### CONTENT LEFT SECTION ########## -->
                <div class="col-left_main">
                    <div class="notifiche">
                        <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="notifiche_content">
                            <span class="notifiche_span">Ricevi notifiche di nuovi messaggi</span>
                            <small><a href="#">Attiva notifiche desktop</a></small>
                        </div>
                    </div>
                    <div class="search_area">
                        <form>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">
                        </form>
                    </div>

                    <ul class="users">
                        <template v-for="(contact, index) in contacts">
                            <li v-show="contact.visible" class="user_avatar" @click="showChat(index)"
                                :class="indexPosition === index ? 'active' : null">
                                <img v-bind:src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                <div class="user_data">
                                    <span>{{ contact.name }}</span>
                                    <small>Ultimo messaggio inviato</small>
                                    <div class="time">
                                        <small>12:00</small>
                                    </div>

                                </div>
                            </li>
                        </template>
                    </ul>

                </div>
                <div class="col-right_main">
                    <!-- ######### CONTENT RIGHT SECTION ########## -->
                    <div class="message_area" v-for="message in contacts[indexPosition].messages">
                        <div :class=" message.status">
                            <span>{{ message.message }}</span>
                            <small>{{ message.date }}</small>
                        </div>
                    </div>
                </div>
                <!-- ######### FOOT WEB APP SECTION ########## -->
                <div class="foot">
                    <div class="icon_foot"><i class="fa-regular fa-face-smile"></i></div>
                    <div class="input_text">
                        <form @submit.prevent="sendMessage()">
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newText">
                        </form>
                    </div>
                    <div class="icon_foot"><i class="fa-solid fa-microphone"></i></div>
                </div>

            </div>
        </main>

    </div>


    <script src="contacts.js"></script>
</body>

</html>